<div class="container mt-5">
  <div *ngIf="successMessage" class="alert alert-success alert-dismissible fade show mt-3" role="alert">
    {{ successMessage }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
    {{ errorMessage }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <div class="row justify-content-center"> <!-- Centrar el formulario -->
    <div class="col-md-6">
      <h2 class="text-center mb-4">Agregar Categoría</h2>
      <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" formControlName="nombre" class="form-control" placeholder="Ingrese el nombre de la categoría">
        </div>

        <div class="form-group">
          <label for="descripcion">Descripción:</label>
          <textarea id="descripcion" formControlName="descripcion" class="form-control" placeholder="Ingrese la descripción de la categoría"></textarea>
        </div>

        <div class="text-center mt-3">
          <button type="submit" class="btn btn-primary">Crear Categoría</button>
        </div>
      </form>
    </div>
  </div>
</div>
